<div class="site-header-band">
<header class="site-header">
  <a class="logo" href="{{ '/' | relative_url }}">Євген Кочубей</a>
  <nav>
    <a href="{{ '/choloviky/' | relative_url }}">Для чоловіків</a>
    <a href="{{ '/zagalni-stany/' | relative_url }}">Тривога і стосунки</a>
    <a href="{{ '/samodopomoga/' | relative_url }}">Самодопомога</a>
    <a href="{{ '/blog/' | relative_url }}">Блог</a>
    <a href="{{ '/hrupy/' | relative_url }}">Групи</a>
    <a href="{{ '/pro-mene/' | relative_url }}">Про мене</a>
    <a href="{{ '/kontakty/' | relative_url }}">Контакти</a>
  </nav>
</header>
</div>
